anyio
certifi
charset-normalizer
h11
hdbscan
httpcore
httpx
idna
joblib
llvmlite
numba
nltk
numpy
openpyxl
pandas
pymorphy3
pymorphy3-dicts-ru
pynndescent
python-dateutil
python-dotenv
python-telegram-bot
pytz
regex
requests
scikit-learn
scipy
six
sniffio
threadpoolctl
tqdm
tzdata
umap-learn
urllib3
fastapi

uvicorn[standard]
